containa {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    }
    
    /* Hide the browser's default checkbox or radio button */
    container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }
    
    /* Create a custom checkbox or radio button */
    checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    /* For radio buttons, add border-radius: 50%; */
    }
    
    /* On mouse-over, add a grey background color */
    container:hover input ~ .checkmark {
    background-color: #ccc;
    }
    
    /* When the checkbox or radio button is checked, add a blue background */
    container input:checked ~ .checkmark {
    background-color: #2196F3;
    }
    
    /* Style the checkmark/indicator */
    container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    /* Define specific styles for checkbox and radio indicators */
    }